<nz-table #rowSelectionTable nzShowSizeChanger [nzData]="datasource" [nzLoading]="tableLoading()">
    <thead>
        <tr>
            <th [(nzChecked)]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></th>
            <th>表名</th>
            <th>namespace</th>
            <th>sourceDefinedCursor</th>
            <th>检查方式</th>
            <th>主键</th>
            <th>表结构</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of rowSelectionTable.data;let index=index">
            <td [nzChecked]="selectIds.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
            <td>{{ data.stream.name }}</td>
            <td>{{ data.stream.namespace }}</td>
            <!-- todo 此处根据选取值动态显示 -->
            <td> <input nz-input placeholder="Basic usage" [ngModel]="''"
                    (ngModelChange)="setDefinedCursorValue($event,index)" /></td>
            <td>
                <nz-select [ngModel]="syncModeItems[0]" (ngModelChange)="setSyncMode(data.id,$event)">
                    <nz-option *ngFor="let i of syncModeItems" [nzValue]="i" [nzLabel]="i">
                    </nz-option>
                </nz-select>
            </td>
            <td>{{data.stream.sourceDefinedPrimaryKey}}</td>
            <td>
                <button nz-button nzType="primary" (click)="showModal(index)">
                    <span>查看表</span>
                </button>
            </td>
        </tr>
    </tbody>
</nz-table>

<nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
        <nz-table #basicTable [nzData]="datasource[selectModal].properties">
            <thead>
                <tr>
                    <th>名称</th>
                    <th>类型</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let data of basicTable.data;let i=index">
                    <tr *ngFor="let item of data|keyvalue">
                        <td>{{item.key}}</td>
                        <td>{{item.value.type}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </nz-table>
    </ng-container>
</nz-modal>

<div class="actions">
  <button (click)="prevStep()" nz-button nzType="default">上一步</button>
  <button (click)="finish()" [nzType]="'primary'" nz-button>
    完成
  </button>
</div>

