<div class="wapper">
  <nz-layout>

    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <div class="logo"></div>
      <ul nz-menu nzTheme="dark" nzMode="inline">

        <li nz-menu-item>
          <span nz-icon nzType="file"></span>
          <span>概览</span>
        </li>

        <li nz-submenu nzTitle="User" nzIcon="user">
          <ul>
            <li nz-menu-item>
              <a [routerLink]="['/frame/sources']" routerLinkActive="active">源</a>
            </li>
          </ul>
        </li>

        <li nz-submenu nzTitle="配置中心" nzIcon="team">
          <ul>
            <li nz-menu-item>
              <a [routerLink]="['/frame/settings/frameSettings/connector']" routerLinkActive="active">连接器设置</a>
            </li>
            <li nz-menu-item>
              Actor 实例
            </li>
          </ul>
        </li>


      </ul>
    </nz-sider>


    <nz-layout>
      <nz-header>
                <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
                      (click)="isCollapsed = !isCollapsed"></span>
      </nz-header>
      <nz-content>
        <nz-breadcrumb>
          <nz-breadcrumb-item></nz-breadcrumb-item>
        </nz-breadcrumb>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>


  </nz-layout>
</div>
