<button nz-button nzType="primary" [routerLink]="['/frame/task/addTask']">创建任务</button>
<nz-table #nestedTable [nzData]="listData" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" [nzTotal]="totalData"
  [nzFrontPagination]="false" (nzPageIndexChange)="pageChange()">
  <thead>
    <tr>
      <th>id</th>
      <th>镜像名称</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of nestedTable.data;let index=index" (click)="detail()">
      <td>{{ index }}</td>
      <td>{{ data.actor.name }}</td>
      <td>{{ data.state }}</td>
      <td>
        <button nz-button nzType="primary" (click)="start(data.id)"
          [nzLoading]="data.state==='RUNNING'?true:false">开始任务</button>
        <button nz-button nzType="primary" (click)="cancel(data.id)"
          [disabled]="data.state!=='RUNNING'?true:false">取消任务</button>
        <button nz-button nzType="primary" (click)="remove(data.id)">删除任务</button>
        <button nz-button nzType="primary" [routerLink]="['/frame/task/taskRun',data.id]">任务详情</button>
      </td>
    </tr>
  </tbody>
</nz-table>

<!-- <nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">

</nz-modal> -->