<button (click)="showModal()" nz-button nzType="primary">
  <span>添加镜像</span>
</button>
<nz-modal (nzOnCancel)="handleCancel()" (nzOnOk)="addConnector()" [(nzVisible)]="addConnector_Modal_IsVisible" [nzOkLoading]="addConnector_Modal_OkLoading"
          nzTitle="Modal Title">
  <nz-card *nzModalContent nzTitle="配置镜像信息">
    <form [formGroup]="addConnector_Form_Validate" nz-form>
      <nz-form-item>
        <nz-form-label [nzSpan]="4" nzFor="name" nzRequired>镜像名称</nz-form-label>
        <nz-form-control [nzSpan]="8" nzErrorTip="请输入镜像名称">
          <input formControlName="name" nz-input placeholder="请输入镜像名称" type="text"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="4" nzFor="image" nzRequired>镜像</nz-form-label>
        <nz-form-control [nzSpan]="8" nzErrorTip="请输入镜像名称">
          <input formControlName="image" nz-input placeholder="请输入镜像名称" type="text"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="4" nzFor="version" nzRequired>版本</nz-form-label>
        <nz-form-control [nzSpan]="8" nzErrorTip="请输入镜像名称">
          <input formControlName="version" nz-input placeholder="请输入镜像版本" type="text"/>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>
</nz-modal>

<nz-table #basicTable (nzPageIndexChange)="pageChange()" [(nzPageIndex)]="currentPageIndex" [(nzPageSize)]="pageSize"
          [nzData]="connectorList"
          [nzFrontPagination]="false" [nzTotal]="totalData">
  <thead>
  <tr>
    <th>名称</th>
    <th>镜像</th>
    <th>版本</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>{{ data.name }}</td>
    <td>{{ data.image }}</td>
    <td>{{ data.version }}</td>
    <td>
      <a (click)="removeConnectorById(data.id)">删除</a>
    </td>
  </tr>
  </tbody>
</nz-table>
