<nz-card>
  <nz-tree
    #nzTreeComponent
    (nzCheckBoxChange)="nzEvent($event)"
    (nzClick)="nzEvent($event)"
    (nzExpandChange)="nzEvent($event)"
    [nzCheckedKeys]="defaultCheckedKeys"
    [nzData]="nodes"
    [nzExpandedKeys]="defaultExpandedKeys"
    [nzSelectedKeys]="defaultSelectedKeys"
    nzCheckable
    nzMultiple
  ></nz-tree>

  <div class="actions">
    <button (click)="prevStep()" nz-button nzType="default">上一步</button>
    <button (click)="nextStep()" [disabled]="this.nzTreeComponent.getCheckedNodeList().length == 0" [nzType]="'primary'"
            nz-button>
      完成
    </button>
  </div>

</nz-card>

