<nz-table #basicTable [nzData]="listOfData" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" [nzTotal]="totalData"
    [nzFrontPagination]="false" (nzPageIndexChange)="pageChange()">
    <thead>
        <tr>
            <th>名称</th>
            <th>镜像</th>
            <th>版本</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td>{{ data.name }}</td>
            <td>{{ data.connector!.image}}</td>
            <td>{{ data.connector!.version }}</td>
        </tr>
    </tbody>
</nz-table>