<div class="task-wapepr">
    <div class="steps">
        <nz-steps [nzCurrent]="current">
            <nz-step *ngFor="let item of getStepItems" [nzTitle]="item.name"></nz-step>
        </nz-steps>
        <div class="steps-content">
            <ng-container [ngSwitch]="current">
                <!-- <app-select-connector *ngSwitchCase="0"></app-select-connector>
                <app-spec *ngSwitchCase="1"></app-spec> -->
                <app-select-actor *ngSwitchCase="0"></app-select-actor>
                <app-select-table *ngSwitchCase="1"></app-select-table>
            </ng-container>
        </div>
    </div>
</div>