<nz-tree
  #nzTreeComponent
  (nzCheckBoxChange)="nzEvent($event)"
  (nzClick)="nzEvent($event)"
  (nzExpandChange)="nzEvent($event)"
  (nzOnDrop)="nzEvent($event)"
  [nzCheckedKeys]="defaultCheckedKeys"
  [nzData]="nodesForView"
  [nzDraggable]="isAllowedDrag"
  [nzExpandedKeys]="defaultExpandedKeys"
  nzCheckable
></nz-tree>

<div *ngIf="!!currentlySelectedNode">
  <nz-card [nzExtra]="extraTemplate" nzTitle="{{currentlySelectedNode.name}} 详情" style="width: 200px">
    <div *ngIf="currentlySelectedNode.rules.items.length>0">
      <div *ngFor="let item of currentlySelectedNode.rules.items">
        <div>
          Id：{{item.id}}
        </div>
        <div>
          context：{{item.content}}
        </div>
      </div>
    </div>
  </nz-card>
  <ng-template #extraTemplate>
    <a>移动规则</a>
  </ng-template>
</div>

<!-- Todo: 移动规则-->
<button (click)="dragSortingNode()" *ngIf="!isAllowedDrag" nz-button nzType="primary"> 移动标签</button>

<button (click)="dragSortingNode(true)" *ngIf="isAllowedDrag" nz-button nzType="primary"> 确认移动</button>

